@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Roboto:wght@400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    transition: all 0.4s ease;
}
header {
    width: 100%;
    height: 80px;
    background: #fff;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 7;
}
header.dark, body.dark, .text-center a.dark {
    background: #150C01;
}
.info.dark {
    background: #cc8e35;
}
.nav-bar ul li a.dark, main h1.dark, main p.dark, .text-center h2.dark, .card h3.dark, .card p.dark, .user h2.dark, .user p.ipsum.dark, .text-center p.ipsum.dark, .content h3.dark, .content p.lorem.dark {
    color: #fff;
}
.regist h2.dark, .regist p.dark {
    color: #150C01;
}
.regist a.dark {
    background: #DC780B;
}
.nav-bar ul {
    display: flex;
    align-items: center;
}
.nav-bar ul li a {
    padding: 10px 25px;
    margin: 0 10px;
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #150C01;
}

.nav-bar ul li a.active {
    color: #DC780B;
}
.nav-bar ul li a.btn {
    padding: 15px 30px;
    background: #DC780B;
    border-radius: 5px;
    color: #fff;
}
  .nav-bar ul li .appearance {
    cursor: pointer;
  }
  .nav-bar ul li a path {
    transform-origin: center;
    transition: all 0.6s ease;
    transform: translate3d(0, 0);
    backface-visibility: hidden;
  }
  .nav-bar ul li a svg path.sun {
    stroke: white;
    transform: scale(0.4) rotate(60deg);
    opacity: 0;
  }
  .nav-bar ul li a svg path.moon {
    stroke: black;
    opacity: 1;
  }
  .nav-bar ul li a.switch svg path.sun {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  .nav-bar ul li a.switch svg path.moon {
    transform: scale(0.4) rotate(-60deg);
    opacity: 0;
  }
h1, h2, h3, h4, h5 {
    font-family: 'Philsopher';
    color: #150C01;
    font-weight: 700;
}
.container {
    width: 1140px;
    margin: auto;
}
main .container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}
main .text {
    width: 49%;
    padding-top: 30px;
}
main .img {
    width: 45%;
    padding-top: 30px;
}
main img {
    width: 100%;
}
main h1 {
font-size: 48.83px;
line-height: 58px;
color: #150C01;
}
main p {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #150C01;
}
main .links {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
    width: 63%;
}
main .links a {
    padding: 21px 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Roboto';
    border-radius: 5px;
}
main a.btn1 {
    background: #DC780B;
    color: #fff;
}
main a.btn2 {
    opacity: 0.7;
border: 1.5px solid #DC780B;
color: #DC780B;
}
.text-center {
    margin: 60px auto;
    text-align: center;
}
.text-center p.lorem {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #DC780B;
opacity: 0.7;
}
.text-center h2 {
font-size: 31.25px;
line-height: 35px;
text-transform: capitalize;
color: #150C01;
font-family: 'Philosopher';
}
.cards {
    display: flex;
    justify-content: space-between;
}
.cards .card {
    width: 27%;
    text-align: center;
    margin: auto;
}
.cards h3 {
    font-family: 'Philosopher';
font-size: 25px;
line-height: 44px;
}
.cards p {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150C01;
opacity: 0.7;
}
.user {
    display: flex;
    justify-content: space-between;
    margin-top: 108px;
}
.user .img {
    width: 50%;
}
.user img {
    border-radius: 30px;
}
.user .text {
    width: 40%;
    padding-top: 100px;
}
.user h2 {
    font-family: 'Philosopher';
font-weight: 700;
font-size: 31.25px;
line-height: 41px;
}
.user p.lorem {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #DC780B;
opacity: 0.7;
}
.user p.ipsum {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150C01;
opacity: 0.7;
}
.user a {
    padding: 15px 30px;
    background: #DC780B;
    color: #fff;
    font-family: 'Roboto';
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    margin-top: 29px;
}
.text-center p.ipsum {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150C01;
opacity: 0.7;
}
.text-center.one {
    width: 60%;
}
.text-center.one h2 {
    padding-top: 9px;
}
.text-center.one p.ipsum {
    padding-top: 15px;
}
.food {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 21px;
}
.food img {
    width: 100%;
    border-radius: 70px 10px 70px 0px ;
}
.food .card {
    width: 32%;
    border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 75px 10px 10px 10px;
}
.food .cost {
    display: flex;
    justify-content: space-between;
}
.food .card-body {
    width: 100%;
    padding: 25px;
}
.food h3 {
    font-family: 'Philosopher';
font-weight: 700;
font-size: 25px;
line-height: 24px;
color: #150C01;
}
.food p {
    font-family: 'Roboto';
    padding-top: 10px;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150C01;
opacity: 0.7;
}
.food .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.food .fa-solid {
    color: #DC780B;
}
.text-center a {
    padding: 12px 30px;
    background: #fff;
    color: #DC780B;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #DC780B;
    border-radius: 5px;
}
.info {
    width: 100%;
    height: 518px;
    background: #FBF1E7;
    margin-top: 187px;
}
.info .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info p.lorem {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #DC780B;
opacity: 0.7;
}
.info h2 {
    font-family: 'Philosopher';
font-weight: 700;
font-size: 31.25px;
line-height: 41px;
color: #150C01;
}
.info p.ipsum {
    font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #150C01;
opacity: 0.7;
}
.info .text {
    width: 45%;
}
.info img {
margin-top: -70px;
}
.info .links {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}
.info .links a {
    padding: 11px 35px;
    display: flex;
align-items: center;
font-family: 'Roboto';
font-weight: 500;
}
.info a.apple {
    background: #150C01;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.info a.play {
font-size: 16px;
line-height: 19px;
color: #150C01;
font-family: 'Roboto';
opacity: .7;
border: 1.5px solid #150C01;
border-radius: 5px;
}
.text-center.two {
    width: 60%;
    margin-top: 144px;
}
.text-center.two h2 {
    padding-top: 12px;
}
.text-center.two p.ipsum {
    padding-top: 23px;
}
.content {
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 800px;
  }
  .content img {
    margin: auto;
  }
  .content p.ipsum {
    padding-top: 41px;
  }
  .content h3 {
    font-family: 'Roboto';
    padding-top: 32.3px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #000000;
  }
  .content p.lorem {    
font-family: 'Roboto';
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #000000;
opacity: 0.7;
letter-spacing: 0px;
padding-top: 6px;
text-transform: uppercase;
  }
  .content .text-center {
    margin: 0;
  }
  .content .icon {
   margin-top: 20px;
  }
  .icon .fa-star {
    color: #DC780B;
  }
body {
    background: #e5e5e5;
}
.regist {
    width: 100%;
    height: 448px;
    background: #f7d794;
}
.regist .text-center {
    width: 60%;
    padding-top: 115px;
}
.regist form {
padding-top: 46px;
display: flex;
width: 100%;
}
.regist input {
    width: 80%;
    height: 75px;
    background: #fff;
    border: none;
    padding-left: 20px;
    outline: none;
    color: #150C01;
    font-family: 'Roboto';
}
.regist a {
    color: #fff;
    padding: 27px 57px;
    background: #DC780B;
}
footer {
    width: 100%;
    height: 429px;
    background: #252525;
    padding-top: 137px;
    padding-bottom: 104px;
}
footer .container {
    display: flex;
    justify-content: space-between;
}
.footer-col {
    width: 22%;
}
.footer-col h4 {
    font-family: 'Philosopher';
font-weight: 700;
font-size: 18px;
line-height: 20px;
color: #fff;
}
.footer-col a {
    font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 36px;
color: #fff;
opacity: 0.7;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.social-links a {
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 1;
    border-radius: 50%;
}
@media (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}
@media (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}
@media (max-width: 1018px) {
    .hamburger {
        width: 30px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      .hamburger > .line {
        display: block;
        position: absolute;
        width: 100%;
        margin: auto;
        background: #DC780B;
        opacity: 1;
        height: 3px;
        background-color: #DC780B;
        margin: 6px 0;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
       .hamburger .line:nth-child(1) {
        top: 0px;
      }
      
      .hamburger .line:nth-child(2) {
        top: 13px;
      }
      
      .hamburger .line:nth-child(3) {
        top: 25px;
      }
      .hamburger.open .line:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      .hamburger.open .line:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
       .hamburger.open .line:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      header  {
        padding: 0 10px;
    }    
    .hamburger {
            display: block;
            cursor: pointer;
            margin-left: 200px;
        }
        .nav-bar {
            height: 0;
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            width: 100vw;
            background-color: #DC780B;
            transition: 0.5s;
            overflow: hidden;
        }
        .nav-bar.active {
            height: 450px;
        }
        .nav-bar.active ul {
            opacity: 1;
        }
        .nav-bar ul {
            display: block;
            width: fit-content;
            margin: -20px auto 0 auto;
            text-align: center;
            transition: 0.5s;
            opacity: 1;
            line-height: 60px;
        }
        .nav-bar ul li a {
            margin-bottom: 12px;
            color: #fff;
        }
        .nav-bar ul li a.btn {
            border: 1px solid #fff;
        }
        .nav-bar ul li a.appearance {
            padding-top: 30px;
            display: inline-block;
        }
    }
    @media (max-width: 440px) {
        main .links, .info .links {
            gap: 40px;
            width: 100% !important;
        }
        main a, .info a {
            margin: auto;
        }
        .info a.apple {
            padding: 15px 52px;
        }
        main a.btn1 {
    padding: 21px 47px;
        }
    }
@media (max-width: 575px) {
    .container {
        width: 98%;
        margin: auto;
    }
    main .container, .cards, .user, .food, .info .container, footer .container {
        flex-direction: column;
    }
    main .text, main .img, main img, .user .text, .user .img, .user img, .info .text, .info img, .info .img {
        width: 100%;
    }
    main .links, .info .links {
        width: 80%;
        flex-wrap: wrap;
    }
    .cards {
        gap: 50px;
    }
    .cards .card {
        width: 70%;
        margin: auto;
    }
    .text-center.one, .text-center.two {
        width: 80%;
    }
    .food .card {
        width: 98%;
        margin: auto;
    }
    .info {
        height: 100%;
        padding: 30px 0px;
    }
    .info .container {
        gap: 100px;
    }
    .info img {
        margin: 0;
    }
    .regist {
        height: 100%;
        padding: 30px 0px;
    }
    .regist .text-center {
        padding: 0;
        width: 90%;
    }
    footer {
        height: 100%;
    }
    footer .container {
        gap: 40px;
    }
    .social-links {
        width: 70%;
        margin: 40px auto;
    }
    .footer-col {
        width: 50%;
        text-align: center;
        margin: auto;
    }
}
@media (max-width: 650px) {
    .info .container {
        flex-direction: column;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .container {
        width: 98%;
        margin: auto;
    }
    main .links {
    width: 60%;
    }
    main .text, main img, main .img, .info .container {
        width: 100%;
    }
    main .container, .cards, .user {
        flex-direction: column;
    }
    .cards {
        flex-direction: column;
        gap: 30px;
    }
    .cards .card {
        width: 80%;
        margin: auto;
    }
    .user .img, .user img, .user .text {
        width: 100%;
    }
    .text-center.one, .text-center.two {
        width: 80%;
    }
    .food .card {
        width: 48%;
    }
    .info {
        height: 100%;
        padding: 0 10px;
    }
    .info .container {
        padding: 30px 0px;
        gap: 30px;
    }
    .info .text {
        width: 100%;
    }
    .info img {
        margin: 0;
    }
    .regist {
        height: 100%;
        padding: 30px 0px;
    }
    .regist .text-center {
        width: 80%;
        padding: 0;
    }
    .info .links {
        width: 60%;
    }
    footer {
        height: 100%;
    }
    footer .container {
        flex-wrap: wrap;
        gap: 30px;
    }
    footer .footer-col {
        width: 35%;
        margin: auto;
    }
    .social-links {
        margin-top: 30px;
        width: 75%;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .container {
        width: 98%;
        margin: auto;
    }
    main .links, .user img, .info .links {
        width: 100%;
    }
    .user .text {
        padding-top: 0px;
    }
    .food .card {
        width: 48%;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 98%;
        margin: auto;
    }
    .food .card {
        width: 30%;
    }    
    main .links {
        width: 70%;
    }
    .info .links {
        width: 80%;
    }
}